@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
    --main-background: var(--dark-background);
    --main-search-background: var(--dark-search-background);
    --main-sidebar-background: var(--dark-sidebar-background);
    --main-accent: var(--accent-blue);

    --dark-background: 0 0 0;
    --light-background: 145 158 171;

    --dark-search-background: 32 35 39;
    --light-search-background: 239 243 244;

    --dark-sidebar-background: 22 24 28;
    --light-sidebar-background: 247 249 249;

    --accent-yellow: 255 213 50;
    --accent-blue: 1 98 196;
    --accent-pink: 249 26 130;
    --accent-purple: 120 87 255;
    --accent-orange: 255 122 0;
    --accent-green: 0 184 122;
  }
}

@layer components {
  .scrollbarThin {
    @apply scrollbar-thin scrollbar-thumb-rounded group-hover:scrollbar-thumb-gray-400
  }
}